:root {
    font-family: Inter, sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    min-height: 100vh;
    background: rgb(78, 12, 205);
    background: linear-gradient(
        333deg,
        rgba(78, 12, 205, 1) 0%,
        rgba(125, 17, 180, 1) 50%,
        rgba(242, 30, 100, 1) 100%
    );
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
